{% extends 'partials/base.html.twig' %}

  {% block content %}
  <div class="project-container info-container">

    <div class="project-info">
      {{ page.header.description | markdown }} 
    </div>
    
    <div class="horizontal-scroll">

      <section class="images">
        {{ page.content }}
      </section>

    </div>

</div>
  {% endblock %}




