{% extends 'partials/base.html.twig' %}

  {% block content %}
  <div class="project-container info-container">

    <div class="project-info">
      <div class="footer-push">

        {{ page.header.description | markdown   }}

      </div> 

      <footer class="lg-footer">
        <p>
          <a href="mailto:hello@itsleewilliams.com">hello@itsleewilliams.com</a><br />
          © Lee Williams 2016<br />
          Developed by <a href="http://neilspurgeon.com/">Neil Spurgeon</a>
        </p>
      </footer>

    </div>
    
    <div class="horizontal-scroll">

      <section class="images">
        {{ page.content }}
      </section>

    </div>

    <footer class="sm-footer">
      <p>
        <a href="mailto:hello@itsleewilliams.com">hello@itsleewilliams.com</a><br />
        © Lee Williams 2016<br />
        Developed by <a href="http://neilspurgeon.com/">Neil Spurgeon</a>
      </p>
    </footer>

</div>
  {% endblock %}




